<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<string>AFBF7E72-9E14-4AEB-B417-7307E6E3B142</string>
	<key>description</key>
	<string>Restore Image for Lab Computers</string>
	<key>meta</key>
	<string>YES</string>
	<key>steps</key>
	<dict>
		<key>1</key>
		<dict>
			<key>task</key>
			<string>workflow</string>
			<key>title</key>
			<string>Workflow</string>
			<key>workflow</key>
			<string>6FB16E83-5AC0-44C7-8D1D-61C53AD98749</string>
		</dict>
		<key>2</key>
		<dict>
			<key>adcomputersadmin</key>
			<string>avajodha</string>
			<key>adcomputersadminpassword</key>
			<string>OUQwT0pHMlV3U3ErdTlUVHRNd1Fydz09</string>
			<key>adcomputersdn</key>
			<string>OU=HC-HonorsLab,OU=HC,DC=cougarnet,DC=uh,DC=edu</string>
			<key>addomain</key>
			<string>cougarnet.uh.edu</string>
			<key>allowlocaladministration</key>
			<string>NO</string>
			<key>automate</key>
			<string>YES</string>
			<key>computeridkey</key>
			<string>cn</string>
			<key>confirmmobileaccounts</key>
			<string>NO</string>
			<key>forcelocalhomedirectories</key>
			<string>YES</string>
			<key>ggidmapping</key>
			<string></string>
			<key>gidmapping</key>
			<string></string>
			<key>mobileaccounts</key>
			<string>NO</string>
			<key>packetsencryption</key>
			<string>disable</string>
			<key>packetssigning</key>
			<string>disable</string>
			<key>passwordinterval</key>
			<string>90</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>activedirectory</string>
			<key>title</key>
			<string>Active Directory binding</string>
			<key>uidmapping</key>
			<string></string>
			<key>useuncpaths</key>
			<string>NO</string>
		</dict>
		<key>3</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>command</key>
			<string>$$/lab_restore.sh</string>
			<key>description</key>
			<string></string>
			<key>errormessage</key>
			<string></string>
			<key>ignoreexecutionfailure</key>
			<string>NO</string>
			<key>parameters</key>
			<string></string>
			<key>postponedexecution</key>
			<string>YES</string>
			<key>targettype</key>
			<string>lastrestoredtarget</string>
			<key>task</key>
			<string>generic</string>
			<key>title</key>
			<string>Generic</string>
		</dict>
	</dict>
	<key>title</key>
	<string>Lab Restore</string>
</dict>
</plist>
